body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("imgs/background.jpg");
    background-size: cover;
    height: 100dvh;
}

#container
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1000px;
    height: 685px;
}

#loading
{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#loadingtext
{
    color: white;
    font-family: "Arial";
    font-weight: 600;
    position: absolute;
}

#openstrike
{
    width: 300px;
    height: 100px;
    margin-top: 70px;
}

progress {
    display: flex;
    background-color: #00000096;
    border-color: #0094d8;
    border-radius: 13px;
    border-style: solid;
    border-width: 1px;
    width: 88%;
    height: 30px;
    padding: 3px;
}

progress::-webkit-progress-bar, progress::-webkit-progress-value, progress::-moz-progress-bar
{
    background-color: #0094d8;
    border-radius: 10px;
}

#content
{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 80%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 70px;
    border-radius: 10px;
}

#rules, #tips
{
    background-color: #00000096;
    border-style: solid;
    border-color: #0094d8;
    border-width: 2px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

#rules > h3, #tips > h3
{
    color: #0094d8;
    text-align: center;
    font-family: "Arial";
}

#list
{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    gap: 10px;
}

#list > div
{
    display: flex;
    align-items: center;
    background-color: #3d3d3d;
    padding-left: 10px;
    border-radius: 10px;
}

#list > div > a
{
    font-family: "Arial";
    font-weight: 1000;
    color: white;
    background-color: #0094d8;
    border-radius: 30px;
    padding: 10px;
    position: relative;
    text-align: center;
}

#list > div > p
{
    font-family: "Arial";
    color: white;
    margin-left: 10px;
}